
body {
  background-image: url(../img/pizzeriafondo1.jpg);
  
  background-size: 100%;
  
}

h2{
  font-size: xx-large;
  font-style: oblique;
  font-weight: bolder;
  ;
  
  color: black;
  background-color: #f09d04;
  
}




